{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "extensions": [".ios.tsx", "ios.ts", ".android.tsx", "android.ts"],
      "alias": {
        "api": "./src/api",
        "assets": "./src/assets",
        "contexts": "./src/contexts",
        "_constants": "./src/_constants",
        "components": "./src/components",
        "hooks": "./src/hooks",
        "screens": "./src/screens",
        "store": "./src/store",
        "theme": "./src/theme",
        "utils": "./src/utils"
      }
    }]
  ]
}
